.proyecto-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    max-width: 800px;
    margin: auto;
}

.proyecto-header {
    text-align: center;
    margin-bottom: 20px;
}

.proyecto-nombre {
    font-size: 1.5rem;
    color: #333;
}

.proyecto-body {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.tarjeta-lista {
    flex: 1;
    min-width: 300px;
}

.tarjeta {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grupo-enlace, .investigador-enlace {
    text-decoration: none;
    color: #007bff;
}

.grupo-enlace:hover, .investigador-enlace:hover {
    color: #0056b3;
}
